lab1.2.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name = "emailData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "To" type = "xs:string"></xs:element>
				<xs:element name = "From" type = "xs:string"></xs:element>
				<xs:element name = "CC" type = "xs:string"></xs:element>
				<xs:element name = "BCC" type = "xs:string"></xs:element>
				<xs:element name = "Subject" type = "xs:string"></xs:element>
				<xs:element name = "Body" type = "xs:string"></xs:element>
			</xs:sequence> 
		</xs:complexType>
	</xs:element>
</xs:schema>